
html {
    height:100%;
    margin:0;
    padding:0;
}

body {
    margin-top: 0.5px;
    height: 100%;
    padding: 0 300px 0 300px;
    background-color: white;
    font-size: 100%; /*The solution that works in all browsers, is to set a default font-size in percent for the <body> element:*/
}

::selection {
    background: darkorange; /* Making marked text orange */
}

::-moz-selection {
    background: darkorange; /* Making marked text orange */
}

#container {
    width: 1000px;
    min-height: 100%;
    position:relative;
    left: 50%;
    margin-left: -500px;
}

/* --------------------------------------------- HEADER ---------------------------------------------*/

.header {
    width:100%;
}

.main {
    width:100%;
    min-height: 350px;
}

.footer {
    width: 100%;
    height: 3em;
    font-family: 'Proxima Nova', Arial;
    font-size:50%;
    font-weight: bold;
    border-top: solid black;
    color: darkorange;
    text-align:center;
}

#MdhPicture {
    position: relative;
    left: 8%;
    text-decoration: none;
    height: 15%;
    width: 50%;
    margin-left: 2%;
    text-decoration: none;
    list-style: none;

}

#MentorPicture1 {
    position: relative;
    top: 15px;
    text-decoration: none;
    height: 150px;
    width: 150px;
    margin-left: 8%;
    text-decoration: none;
    list-style: none;
    float:right;
}

#MentorPicture2 {
    position: relative;
    top: 15px;
    text-decoration: none;
    height: 100px;
    width: 100px;
    margin-left: 8%;
    text-decoration: none;
    list-style: none;
    float: left;
}

#Title {
    position: relative;
    top: 14px;
    left: 8%;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 350%;
    font-style: oblique;
    color: #FFA033;
}

#SignInRef { /*Do we use?*/
    font-size: 120%;
    text-decoration: none;
    cursor: pointer;
    font-style: oblique;
    float: right;
    margin-right: 8%;
    margin-top: 1%;
}

/* --------------------------------------------- TASKBAR ---------------------------------------------*/

.TaskBar {
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 8%;
    font-family: Arial;
}


.TaskBar li a {
    float: left;
    margin-left: 10%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family:Arial;
}

li a:hover {
    background-color: #eee5de;
    color: black;
    text-decoration: underline;
}

#SignOutButton {
    background-color: #eee5de;
    float: right;
    border: 0px;
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 100%;
    color: black;
    width: 10%;
    height: 46px;
    padding-bottom: 1px;
}

/* --------------------------------------------- LOG IN, SLIDESHOW ETC ---------------------------------------------*/

#MainPic { /*Do we use?*/
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    height: 10%;
    width: 50%;
    padding: 1%;
}

.Login {
    font-size: 10%;
    padding: 0px;
    margin-left: 2%;
    display: inline-block;
    height: 8%;
    width: 32%;
}

.Login input {
    height: 9%;
    width: 80%;
    color: darkorange;
}

#LoginText {
    color: black;
    font-size: 100%;
    font-family: Verdana;
}


.LoginButton {
    background-color: #eee5de;
    float: left;
    margin-top: 1.3%;
    border: 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    color: black;
    width: 17%;
    height: 30px;
}

button:hover {
    opacity: 0.8;
}

.psw {
    font-size: 80%;
    float: left;
}

.psw a {
    color: #ea8d23;
    text-decoration: none;
    font-style: oblique;
}

.fadein {
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    max-height: 300px;
    height: 300px;
    width: 50%;
}

.fadein img {
    position: absolute;
    left: -5%;
    top: 0;
    height: 100%;
    width: 100%;
}

/* --------------------------------------------- ABOUT US ---------------------------------------------*/

.AboutUsBox {
    font-family: Arial;
    color: black;
    margin-left: 0%;
    margin-top: 4%;
}


.AboutUsList {
    border-style: none;
    border-radius: 0px;
    padding: 5%;
    height: 5%;
    width: 13%;
}

.AboutUsList ul li {
    position: relative;
    border-bottom: 2px;
    padding: 15px 15px 17px 15px;
    list-style-type: none;
    font-family:Arial;
}

.AboutUsList li:hover {
    background-color: black;
    color: white;
    display: block;
    list-style-type: none;
}

.AboutUsBox h1 {
    font-family: 'Proxima Nova', Arial;
    color: black;
    font-size: 300%;
    margin-left: 15%;
}

.AboutUsBox p {
    font-family: 'Proxima Nova', Arial;
    color: dimgrey;
    margin-left: 3%;
    margin-top: 3%;
    float: right;
}

.AboutUsImage {
    position: relative;
    margin-left: 0%;
    margin-top: 1%;
    height: 30%;
    width: 30%;
    padding: 1%;
    border-radius: 50% 8% 50% 50%;
    border: none;
    vertical-align: top;
    float: left;
}


.AboutUsTextboxHeader {
    margin-left: 5%;
    height: 110%;
    width: 100%;
    font-family: Arial;
    font-size: 200%;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.AboutDiv {
    color: black;
    font-family: arial;
    margin-right: 31%;
    height: 500px;
    width: 50%;
    position: absolute;
    top: 420px;
    left: 30%;
}

/* --------------------------------------------- LOG IN AS ---------------------------------------------*/

.LoggedInAs {
    font-family: 'Proxima Nova', Arial;
    color: black;
    margin-left: 10%;
    font-size: 100%;
}

/* --------------------------------------------- SETTINGS ---------------------------------------------*/

.UserOptionsBox {
    
    position:absolute;
    border-style: none;
    border-radius: 0px;
    height: 5%;
    width: 15%;

}


.Settings{

}

    .Settings h3 {
          font-family: 'Proxima Nova', Arial;
 }

    .Settings label {
          font-family: 'Proxima Nova', Arial;
}

.Box1 {
    display: inline-block;
    position:relative;
    margin-left:2%;

}
.Box2 {
    display: inline-block;
    position: relative;
}

.UserOptionsBox a {
    color: black;
    text-decoration:none;
}

.UserOptionsBox a:visited {
    color: black;
    text-decoration: none;
}

.UserOptionsBox a:hover {
    background-color: black;
    color: white;
    text-decoration:none;
}

.UserOptionsBox ul li {
    position: relative;
    border-bottom: 2px;
    padding: 15px 15px 17px 15px;
}

.UserOptionsBox li:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.SettingsBox {
   
    position: relative;
    
    top: 10.2%;
    left: 17%;
    height: 700px;
    width: 82.5%;
}

.ProfileImg {
    position: absolute;
    border-radius: 50% 10% 50% 50%;


}

.SettingsBox input[type=checkbox] {
    width: 20px;
    position: relative;
    left: -3%;
    vertical-align: middle;
}

.SettingsBox label {
    width: 200px;
    position: relative;
    left: 2%;
    display: inline-block;
    vertical-align: middle;
}

.SettingsBox h3 {
    position: relative;
    left: 2%;
}
/*.StudentList{
    position: absolute;
    top:43%;
    left:2%;
    
}
.StudentCourses {
    position: absolute;
    border-style: inset;
    top:115%;
    width: 80%;
    height: 200px;
}*/

.MentorList {
    /*visibility:hidden;*/
    position: relative;
    left: 2%;
    border-color: pink;
    border: 2px;
    width: 38%;
}
.MentorList h3{
    
    left: 0%;
}
.MentorCourses {
    position: absolute;
    border-style: solid;
    border-width:1px;
    top: 120%;
    width: 195px;
    height: 200px;
}

/*.AddStudentCourseBtn {
    position: relative;
    left: 1%;
    height: 20px;
}*/

.AddMentorCourseBtn {
    position: relative;
    left: 1%;
    height: 25px;
    text-align: center;
    color: black;
    background-color: #eee5de;
    border: 0px;
}
.RemoveMentorCourseBtn {
    position: relative;
    left: 70%;
    top:2%;
    height: 30px;
    text-align: center;
    color: black;
    background-color: #eee5de;
    border: 0px;
}
.SaveChangesBtn {
    position: absolute;
    top: 80%;
    right: 15%;
    background-color: #eee5de;
    float: left;
    margin-top: 1.3%;
    border:0px;
    display: block;
    text-align: center;
    color: black;
    width: 30%;
    height: 8%;
    text-decoration: underline;
    font-size: 100%;
    font-family: 'Proxima Nova', Arial;
}

.ListBoxStyle {
    height: 100%;
    width: 100%;
    border-style: none;
}

.ListBoxStyle option {
        background-color: #eee5de;
    }

.ListBoxStyle select {
        background-color: #eee5de;
    }

.DropDownStyle {
    Width: 200px;
    height: 25px;
}
.DropDownStyle option {
    background-color: #eee5de;
}

.InfoHeadline {
    font-family: 'Proxima Nova', Arial;
    margin-left: 0%;
}
.SettingsInfo {
    width: 60%;
    height: 20px;
    margin-left: 2%;
    margin-top: -120%;
    top: 1px;
    background-color: #fff;
    color: #9F9994;
    font-style: italic;
}

.AvailableDays {
    /* visibility:hidden;*/
    margin-left: 40%;
    margin-top: -10%;
    width: 250px;
    height: 200px;
}
    .AvailableDays h3 {
        padding:1px;
    }



.AvailableDaysDrop {
    Width: 200px;
    height: 25px;
}

.AvailableDaysDrop option {
    background-color: #eee5de;
}

.AvailableDaysBox {
    height: 100%;
    width: 80%;
    border-style: groove;

   
}
.AvailableDaysBox option {
        background-color: #eee5de;
    }

.AvailableDaysBox select {
        background-color: #eee5de;
    }
.InsideAvailableDays {
    width: 100%;
    height: 100%;
    padding: 1px;
    padding-top: 12px;
}

.AddWeekdayBtn {
    position: relative;
    left: 1%;
    height: 25px;
    text-align: center;
    color: black;
    background-color: #eee5de;
    border: 0px;
}

.RemoveAvailableDaysBtn {
    position: relative;
    left: 55%;
    top: 2%;
    height: 30px;
    text-align: center;
    color: black;
    background-color: #eee5de;
    border: 0px;
}
/* --------------------------------------------- CHANGE AVATAR ---------------------------------------------*/
.Avatar {
    position: relative;
    margin-left: 15%;
    margin-top: 1%;
    height: 10%;
    width: 10%;
    padding: 1%;
    border-radius: 50% 20% 50% 50%;
    border: none;
    vertical-align: top;
}

.SaveAvatar {
    position: absolute;
    top: 83%;
    right: 15%;
    background-color: #eee5de;
    float: left;
    margin-top: 1.3%;
    border: 0px;
    display: block;
    text-align: center;
    text-decoration: underline;
    color: black;
    width: 30%;
    height: 10%;
    font-size: 100%;
    font-family: 'Proxima Nova', Arial;
}

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #eee5de;
    border: 1px solid #99a1a7;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;

}

 .regular-checkbox:checked {
        background-color: #eee5de;
        border: 1px solid #99a1a7;
        color: #99a1a7;
 }

.regular-checkbox:checked:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #000000;
 }



/* --------------------------------------------- FindMentor ---------------------------------------------*/

.background{
    width: 100%;
    min-height:500px;
   
}

#HeadingText{ 
    font-family: 'Proxima Nova', Arial;
    color: #FFA033; 
	font-size:250%; 
    margin-top:5%;
} 

#findyoda{ 
    font-family: 'Proxima Nova', Arial;
    display:inline-block;
    margin-top:-1%;
}

.ddlCourses{ 
    
    font-family: 'Proxima Nova', Arial;
    font-size: 110%;
    display: inline-block; 
    width: 65%; 
    height: 42px;   /* Kunde inte välja % här?*/
    
}

.GridTable {
	position: absolute;
	font-family: 'Proxima Nova', Arial;
	font-size: 140%;
	border-color: black;
	background-color: ghostwhite;
	
	margin-top: 1%;
	height: 65%;
	width: 65%;
} 

.GridTable tr:hover  { 
   background-color: #d7eaea; 
     
   cursor: pointer;
} 
.GridTable tr td:first-child {
   font-weight: bold;
} 
.GridTable tr td:last-child {
	
    font-style: italic;
   font-size:65%; 
}

.GridTable th{   
    
   background-color: #FFA033;
   padding: 2%;
   font-size:110%; 
   margin-top: 20%;
   margin-left: 20%;
}

.GridTable td {
    font-size:90%;  
    padding: 2%;
}
#Mentorname{  

    font-weight: 100px;
    text-align: center;
    display:inline-block;
    color: black;
  
    letter-spacing: -5px;
    font-weight: bold;
    font-family: 'Proxima Nova', Arial;
    display:inline-block;
    visibility: hidden; 
    margin-top: 1%;
    margin-left: 9%;

    font-size:240%;  
   
}

#Mentorbackgroud {
	visibility: hidden;
	background-color: whitesmoke;
	border-radius: 15% 10%;
	padding: 10px;
	display: block;
	margin-top: -6%;
	margin-left: 72%;
	height: 160px;
	width: 30.3%;
	margin-bottom: 3%;
}


 .MentorProfilePic { 
	visibility: hidden;
	border-width: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 50% 8% 50% 50%;
	display: inline-block;
	margin-top: 2%;
	margin-left: 23%;
	background-color: black;
	height: 215px;
	width: 52%;
}

#MessageMentor {
	
	border-radius: 20%;
	border-radius: 3%;
	text-align: center;
	text-decoration: none;
	font-family: 'Proxima Nova', Arial;
	visibility: hidden;
	font-size: 125%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	color: white;
	cursor: pointer;
	visibility: hidden;
	background-color: #4267B2;
	padding: 1% 1% 1% 3%;
} 

#MessageMentorImg {
    width: 2%;
    height: 5%;
    visibility: hidden;
} 

.MessageLink{
    text-decoration: none;
}

#MessageMentor:hover  { 
   background-color: dodgerblue; 
   transition-delay: 0.1s;  
   cursor: pointer;
}

#hoverme {
	visibility: hidden;
	margin-top: -3%;
	margin-left: 50%;

	text-align: center;
	display: inline-block;
	font-family: 'Proxima Nova', Arial;
	font-style: italic;
}

.ProfileInfo {
	visibility: hidden;
	margin-top: 23.8%;
	margin-left: -12.5%;
	letter-spacing: -0.5px;
	display: inline-block;
	text-align: center;
	font-family: Arial;
	font-size: 160%;
	position: absolute;
	font-weight: bold;
}

.AvailableText {
	visibility: hidden;
	text-align: center;
	display: inline-block;
	margin-top: 7%;
	font-family: 'Proxima Nova', Arial;
	margin-left: 3%;
}

/* --------------------------------------------- Messages ---------------------------------------------*/

.ChatBG{
    height: 520px;
}

.ChatField {
    width: 70%;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -350px;
    border: solid;
    border-width: 1px;
}

.ContactsField {
    width: 28%;
    height: 500px;
    position: relative;
    border-right: solid;
    border-right-width: 1px;
}

.ActiveContactField {
    width: 499px;
    height: 28px;
    position: relative;
    top: -516px;
    left: 201px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.MessageField {
    width: 499px;
    height: 408px;
    position: relative;
    top: -516px;
    left: 201px;
    overflow-y: scroll;
}

.WriteMessageField {
    width: 499px;
    height: 63px;
    position: relative;
    top: -516px;
    left: 201px;
}

.WritingBubbleField {
    width: 400px;
    height: 50px;
    position: relative;
    left: 16px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.ActiveUsernameText {
    position: relative;
    top: 4px;
    font-family: 'Proxima Nova', Arial;
    font-size: 16px;
    text-align: center;
}

.WriteBubbleTextBox {
    position: relative;
    top: 10px;
    left: 12px;
    width: 370px;
    height: 26px;
    outline: none;
}

.WriteBubbleSendButton {
    position: absolute;
    top: 10px;
    left: 408px;
    width: 64px;
    height: 32px;
    float: right;
    clear: both;
    padding-bottom: 6px;
    padding-top: 4px;
    border-radius: 12px;
    font-family: 'Proxima Nova', Arial;
}

.ChatMessageList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.SendChatBoxes {
    float: right;
    background-color: orange;
    color: black;
    display: inline-block;
    clear: both;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2px;
    font-family: 'Proxima Nova', Arial;
}

.ReceiveChatBoxes {
    background-color: lightgrey;
    float: left;
    display: inline-block;
    clear: both;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2px;
    font-family: 'Proxima Nova', Arial;
}

.ReceiveChatBoxes + .SendChatBoxes {
    border-bottom-right-radius: 5px;
}

.SendChatBoxes + .SendChatBoxes {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.SendChatBoxes:last-of-type {
    border-bottom-right-radius: 30px;
}

.Contacts {
    position: relative;
    width: 100%;
    height: 64px;
    clear: both;
    border-radius: 6px;
    font-family: 'Proxima Nova', Arial;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color:white;
}

.Contacts:hover {
    background-color: antiquewhite;
}

.ContactsButtonDelete {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 2px;
    left: 88%;
    border-radius: 50%;
    font-family: 'Proxima Nova', Arial;
    border-color: black;
    background-color: red;
    border-width: 1px;
    border-style: solid;
    outline: none;
    text-align: center;
}

.ContactsButtonDelete:hover {
    background-color: darkred;
}

.NameOfContact {
    text-align: center;
    font-family: 'Proxima Nova', Arial;
    font-size: larger;
    font-weight: bold;
}
/* --------------------------------------------- Main Page ---------------------------------------------*/
.NewMessages{
    font-family:Arial;
    color:black;
}

.SlideshowMP
{   
    position: relative;
    width:100%;
    height:300px;
    background-repeat:no-repeat;
    position:absolute;
    padding:2px;

}

.SlideshowMP img { 
   
     position: absolute;
    height: 100%;
    width: 100%;
    position:absolute;
}

.WelcomeText
{
    font-size:100%;
    float:right;
}

